<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="stats">
        <%= render 'shared/stats' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
<html style="height: 100%">
<style type="text/css">
  .background .intro-text{
      position: relative;
      top: 30%;
      transform: translateY(-30%);
      -webkit-transform: translateY(-30%);
      -ms-transform: translateY(-30%);}
</style>
<body class="background">
  <div class="intro-text">
  <div class="intro-lead-in">Welcome to the Microposts!</div>

  <h2>
    This is the landing page
  </div>

  <%= link_to "Sign up now!", sign_up_path, class: "btn btn-lg btn-primary", id: "abc" %>
  </div>
  <footer class="footer">
  <small>
    Microposts app created by Sayan Chakraborty
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <!-- <li><%= link_to "Contact", contact_path %></li> -->
    </ul>
  </nav>
</footer>
</body>
<html>
<% end %>
